@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em;
}

.header-img {
  height: 4.5em;
}

.header-menu {
  display: flex;
  gap: 2em;
}

.header-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 1.125em;
}

.content {
  margin-bottom: 3em;
  border-top: 0.4px solid #FFF2E7;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-content-div {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main-content-title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.main-content-subtitle {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #ECD6C4;
}

.main-content-button {
  background-color: #ECD6C4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #2F2325;
}

.main-content-title-button:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.main-content-img {
  height: 26.875em;
}

.second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  margin-top: 3em;
}

.second-content-title {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 3em;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 1.5em;
  color: #FFF2EF;
  margin-bottom: 1em;
}

.second-content-text {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 1.125em;
  color: #ECD6C4;
}

.footer {
    padding: 2em;
    border-top: 0.4px solid #FFF2E7;
}

.footer-img {
  height: 3em;
  display: block;
  margin: 0 auto;
}